article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display: block}
[hidden] {     display: none}
html {     font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%}
body {     font-size: 1em}
abbr {     border: 0;
    font-variant: normal}
b,strong {     font-weight: bold}
dfn {     font-style: italic}
q {     quotes: "\00201C" "\00201D" "\002018" "\002019"}
cite {     font-style: normal}
small {     font-size: 80%}
sub,sup {     font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline}
sup {     top: -0.5em}
sub {     bottom: -0.25em}
code,kbd,pre,samp {
  font-family: monospace, serif;
  font-size: 1em
}
pre {
    background: #e8e8e8;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word}
img {     border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle}
html,body,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,th,td,pre,blockquote,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {     margin: 0;
    padding: 0
}
html {     overflow-x: hidden}
body {     margin: 1.5em 8px;
    background: #fff;
    color: #000;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    line-height: 1.5em
}
@media all and (min-width: 54.0625em) {     body {     margin: 1.5em 0}
}
body>header,body>section,body>footer,body>article {     max-width: 44em;
    margin-left: auto;
    margin-right: auto}
@media all and (min-width: 54.0625em) and (max-width: 74.5em) {     body>header,body>section,body>footer,body>article {     margin-left: 5em}
}
@media all and (min-width: 74.5625em) {     body>header,body>section,body>footer,body>article {     padding-right: 20.5em}
}
@media print {     body>header,body>section,body>footer,body>article {     margin-left: auto;
    padding-right: 0}
}
@media all and (max-width: 30em) {     body {     font-size: 14px}
}
h1 {
    font-family: font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em}
@media all and (min-width: 74.5625em) {     h1 a {     color: #000;
    pointer-events: none;
    cursor: default}
}
h2 {
    font-family: font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    font-weight: normal;
    font-size: 1.25em;
    padding: 0.6em 0.7em;
    margin: 1.2em -0.7em}
@media all and (max-width: 30em) {     h2 {     font-size: 18px;
    padding: 10px 8px 11px;
    margin: 21px -8px}
}
@media all and (min-width: 30.0625em) and (max-width: 48em) {     h2 {     padding-left: 1.6em;
    padding-right: 1.6em;
    margin-left: -1.6em;
    margin-right: -1.6em}
}
@media all and (max-width: 48em) {     h2 {     -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0}
}
h3,h4,h5,h6 {
  font-family: font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  font-weight: bold;
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em}
h3.inline,h4.inline,h5.inline,h6.inline {     display: run-in}
h3.inline:after,h4.inline:after,h5.inline:after,h6.inline:after {     content: ". ";
    font-weight: normal}
p {     margin-top: 1.5em;
    margin-bottom: 1.5em}
a {     text-decoration: none;
    color: #103080}
a:hover {     text-decoration: underline}
cite:before {     content: "["}
cite:after {     content: "]"}
pre {     margin-top: 1.5em;
    margin-bottom: 1.5em}
nav {
    background: #e8e8e8;
    background-image: url("../image/nez_logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    padding: 0.75em 0.875em;
    margin: 1.5em -0.875em}
@media all and (max-width: 48em) {     nav {     display: none}
}
nav.no-bar {     display: none}
nav ul {     padding: 0;
    margin: 0;
    list-style: none;
    *list-style-image: none}
nav li {     display: none}
nav li.local {     display: block;
    text-align: center}
nav li.local li {     display: inline;
    padding-left: 0.5em;
    padding-right: 0.5em}
@media all and (min-width: 74.5625em) {     nav {     position: fixed;
    top: 1.5em;
    left: 50%;
    padding: 1.5em;
    margin: 0 0 0 16.75em}
nav.no-bar {     display: block}
nav li {     display: block;
    width: 12.5em}
nav li.local {     text-align: left}
nav li.local:before {     display: block;
    content: attr(data-title)}
nav li.local li {     display: block;
    padding-left: 1.5em}
}
@media print {     nav {     display: none}
}
.vcard {     margin-top: 1.5em;
    margin-bottom: 1.5em}
.vcard .photo {     float: right;
    height: 10.5em;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em}
@media all and (max-width: 30em) {     .vcard .photo {     height: 7.5em}
}
.vcard .email {     display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em}
.vcard .note {     float: right;
    margin-top: 1.5em;
    margin-bottom: 1.5em}
ul {     padding-left: 1.8em;
    margin-top: 1.5em;
    margin-bottom: 1.5em}
ul.inline {     padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    *list-style-image: none;
    display: inline}
ul.inline>li {     display: inline}
ul.inline>li:after {     content: ", "}
ul.inline>li: nth-last-child(2):after {     content: " and "}
ul.inline>li: nth-last-child(3) ~ li: nth-last-child(2):after {     content: ", and "}
ul.inline>li: last-child:after {     content: "."}
ol {     padding-left: 2.4em;
    margin-top: 1.5em;
    margin-bottom: 1.5em}
body {     counter-reset: global-counter}
ol.global-count {     list-style: none;
    *list-style-image: none}
ol.global-count>li:before {     content: counter(global-counter) ".";
    counter-increment: global-counter;
    display: block;
    left: -2.4em;
    position: absolute;
    width: 1.9em;
    text-align: right}
ol.global-count>li {     position: relative}
dl.terms {     margin-top: 1.5em;
    margin-bottom: -1.5em}
dl.terms dt,dl.terms dd {     display: inline}
dl.terms dt {     font-style: italic}
dl.terms dt:after {     content: ". "}
dl.terms dd:after {     content: "\A\A";
    white-space: pre}
dl.syllabus {     margin-top: 1.5em;
    margin-bottom: -1.5em}
dl.syllabus dt,dl.syllabus dd {     display: inline}
dl.syllabus dt:before {     content: "("}
dl.syllabus dt:after {     content: ") "}
dl.syllabus dd:after {     content: "\A\A";
    white-space: pre}
dl.syllabus ul {     margin-top: 0;
    margin-bottom: -1.5em}
@media all and (min-width: 30.0625em) {     dl.syllabus {     margin-top: -1.5em;
    margin-bottom: 1.5em;
    *zoom: 1;
    padding-left: 4.5em}
dl.syllabus dt,dl.syllabus dd {     display: block}
dl.syllabus dt:before {     content: ""}
dl.syllabus dt:after {     content: ""}
dl.syllabus dd:after {     content: ""}
dl.syllabus ul {     margin-top: 0;
    margin-bottom: 0}
dl.syllabus:before,dl.syllabus:after {     content: "";
    display: table}
dl.syllabus:after {     clear: both}
dl.syllabus dt {     clear: both;
    float: left;
    width: 4.5em;
    margin: 1.5em 0 0 -4.5em;
    *display: inline;
    *margin-bottom: 0}
dl.syllabus dd {     float: left;
    width: 100%;
    margin: 1.5em 0 0;
    *float: none;
    *width: auto}
}
li ul,li ol,li dl {     margin-top: 0;
    margin-bottom: 0}
.publications .title {     display: block}
@media all and (max-width: 30em) {     .publications .title {     display: inline}
.publications .n[data-given-initial]:before {     content: attr(data-given-initial)}
.publications .given-name {     display: none}
}
@media all and (min-width: 48.0625em) {     .publications abbr[title].conference,.publications abbr[title].journal,.publications abbr[title].workshop {     font-style: italic}
.publications abbr[title].conference:before,.publications abbr[title].journal:before,.publications abbr[title].workshop:before {     content: attr(title) " (";
    font-style: normal}
.publications abbr[title].conference:after,.publications abbr[title].journal:after,.publications abbr[title].workshop:after {     content: ")";
    font-style: normal}
}
@media print {     * {     background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important}
h1,h2,h3,p {     orphans: 2;
    widows: 2}
h1,h2,h3 {     page-break-after: avoid}
pre,blockquote {     page-break-inside: avoid}
thead {     display: table-header-group}
tr,img {     page-break-inside: avoid}
img {     max-width: 100% !important}
@page {     margin: 0.5in}
}
@media print {     h1,h2 {     font-weight: bold}
}
