<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Nez project</title>
  <meta name="description" content="Kuramitsu Laboratory, YNU">
  <meta name="keywords" content="Kimio Kuramitsu, Konoha, PEG, Nez, YNU, 倉光君郎, 倉光研">
  <meta name="author" content="Kimio Kuramitsu">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="./css/bedrock3.css">
  <link rel="stylesheet" href="./css/nez.css">
</head>

<body>
<header>
<nav>
  <h3> Nez Project </h3>
  <ul>
    <li><a href="getting-started.html">Getting Started</a>
    <li><a href="nezlang.html" class="left-panel">Documents</a>
    <li><a href="projects.html" class="left-panel">Project</a>
    <li><a href="publication.html" class="left-panel">Publication</a>
    <li><a href="people.html">Collaborators</a></li>
    <li><a href="ack.html">Acknowledgements</a></li>
  </ul>
</nav>
</header>
<section>
{{content}}
</section>
</body>
</html>
