<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Nez project</title>
  <meta name="description" content="Kuramitsu Laboratory, YNU">
  <meta name="keywords" content="Kimio Kuramitsu, Konoha, PEG, Nez, YNU, 倉光君郎, 倉光研">
  <meta name="author" content="Kimio Kuramitsu">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="./css/zen.css">
</head>

<body>
<header>
<nav>
  <h3> Nez Project </h3>
  <ul>
    <li><a href="getting-started.html">Getting Started</a>
    <li><a href="doc.html">Documents</a>
    <li><a href="project.html">Project</a>
    <li><a href="publication.html">Publication</a>
    <li><a href="people.html">Collaborators</a></li>
    <li><a href="ack.html">Acknowledgements</a></li>
  </ul>
  <p>
    <a href="http://github.com/nez-peg/nez"> Github </a> |
    <a href="http://github.com/nez-peg/nez-grammar"> Grammar Repository </a>
  </p>
</nav>
</header>
<section>
{{content}}
</section>
<section>
Copyright 2015 - 2016 Konoha Software Foundation | About this site
</section>
</body>
</html>
