<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Nez</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  <body>
    <div class="js-loader">
      <script type="text/javascript" src="../vendor/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="../vendor/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../vendor/jquery/jquery.tmpl.min.js"></script>
      <script type="text/javascript" src="../js/index.js"></script>
      <script type="text/javascript">
        var Config = {};
        $(function() {
          Config.basePath = "http://nez-peg.github.io";
        })
      </script>
    </div>
    <div class="contents">
      <div class="left-bar">
        <div class="left-logo">
          <p class="large-font">Nez</p><a href="https://github.com/nez-peg/nez"><i class="fa fa-github large-font"></i>&nbsp;
            Github</a>
        </div>
        <div class="left-content">
          <div href="/" class="left-panel">Overview</div>
          <div class="left-panel-off">
            Document
            {% for post in site.posts %}
          </div>
          <div href="{{ post.url }}" class="left-small-panel">
            {{ post.title }}
            {% endfor %}
          </div>
          <div href="http://www.ubicg.ynu.ac.jp/nez/playground/" class="left-panel">Playground</div>
        </div>
      </div>
      <div class="main-content">
        <!--img.logo(src="./image/nez_llogo1080p.png", height="300px")-->{{content}}
      </div>
    </div>
  </body>
</html>